@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

[v-cloak] {display: none}

/* LittlePets Custom CSS */
.lp-input {
    @apply block rounded-md shadow-sm w-full bg-white outline-none border border-cyan-200;
}
.lp-input:focus {
    @apply outline-none ring-2 ring-cyan-500 shadow border-none appearance-none;
}
.lp-select {
    @apply w-full shadow-sm block bg-white text-gray-700 outline-none border border-cyan-200 rounded-md py-2 px-3;
}
.lp-select:focus {
    @apply outline-none ring-2 ring-cyan-500 shadow border-none;
}
strong.required {
    @apply font-bold text-red-500;
}
a {
    @apply no-underline;
}
a {
    transition: all .2s ease !important;
}
a:hover {
    @apply no-underline;
}
.lp-link {
    @apply duration-500 ease-in-out
}
.lp-link {
    @layer lp-transition
}
.lp-link:hover {
    @apply no-underline font-semibold;
}
.lp-link:hover {
    @layer lp-transition translate-r-2;
}
.translate-r-2 {
    transform: translateX(5px) !important;
}
.lp-transition {
    -webkit-transition: all .45s ease;
    transition: all .45s ease;
}
.lp-transform {
    transform: translateY(5px);
}
button {
    @apply inline-flex items-center justify-center bg-white rounded-md shadow-sm transition ease-in-out duration-150;
}
.lp-btn {
    @apply  border border-gray-200 text-gray-500 font-semibold uppercase tracking-widest;
}
.lp-btn, .lp-btn-success {
    @layer .lp-link;
}
.lp-btn, .lp-btn-success {
    @apply text-xs px-4 py-3;
}
.lp-btn:hover {
    @apply bg-gray-50 text-gray-700 font-semibold ring-2 ring-cyan-300;
}
.lp-btn:focus {
    @apply outline-none ring-2 ring-cyan-500;
}
.lp-btn-success {
    @apply text-cyan-500 font-semibold uppercase tracking-widest border border-cyan-200;
}
.lp-btn-success:hover {
     @apply font-semibold shadow-lg bg-cyan-600 text-white ring-2 ring-cyan-300;
 }
.lp-btn-success:focus {
    @apply outline-none border border-cyan-700 ring ring-cyan-500;
}
.btn {
    @apply -mt-1 items-center shadow-sm w-full py-3 flex justify-center border border-gray-100 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white;
}
.btn:focus {
    @apply outline-none ring border-cyan-300;
}
.btn:hover {
    @apply text-gray-500;
}
.btn:active {
    @apply bg-gray-50 text-gray-800
}
span.optional {
    @apply text-gray-500 font-light text-xs;
}

.card {
    @apply bg-white shadow rounded-lg border-none;
}
.card:hover {
    @apply shadow-2xl;
}

/* Modal Transitions */

.modal-fade-enter {
    @apply ease-out duration-300;
}
.modal-fade-enter-active {
    @apply opacity-0;
}
.modal-fade-enter-to {
    @apply opacity-100;
}
.modal-fade-leave {
    @apply ease-in duration-200;
}
.modal-fade-leave-active {
    @apply opacity-100;
}
.modal-fade-leave-to {
    @apply opacity-0;
}

.modal-dialog-enter {
    transform: translateY(-50%) translateX(100vw);
    opacity: 0;
}
.modal-dialog-enter-active {
    transition: transform .5s;
}
.modal-dialog-enter-to {
    @apply opacity-100 translate-y-0; /*.sm:scale-100*/
}
.modal-dialog-leave {
    @apply ease-in duration-200;
}
.modal-dialog-leave-active {
    transition: transform 1s;
}
.modal-dialog-leave-to {
    transform: translateY(-50%) translateX(100vw);
    opacity: 0;/*.sm:translate-y-0 .sm:scale-95*/
}

[v-cloak] {display: none}


/*.modal-dialog-enter-active, .modal-dialog-leave-active {
    transition: opacity 0.5s;
}
.modal-dialog-enter, .modal-dialog-leave-to !* .fade-leave-active below version 2.1.8 *! {
    opacity: 0;
}*/

/* Transitions */

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

/* Slider */
.slider-enter {
    @apply transform transition ease-in-out duration-500 sm:duration-700;
}
.slider-enter-active {
    @apply translate-x-full;
}
.slider-enter-to {
    @apply translate-x-0;
}
.slider-leave {
    @apply transform transition ease-in-out duration-500 sm:duration-700;
}
.slider-leave-active {
    @apply translate-x-0;
}
.slider-leave-to {
    @apply translate-x-full;
}

/* Mobile Sidebar */
.menu-enter {
    @apply transition-opacity ease-linear duration-300;
}
.menu-enter-active {
    @apply opacity-0;
}
.menu-enter-to {
    @apply opacity-100;
}
.menu-leave {
    @apply transition-opacity ease-linear duration-300;
}
.menu-leave-active {
    @apply opacity-100;
}
.menu-leave-to {
    @apply opacity-0;
}
/* Menu Off canvas */
.menu-off-canvas-enter {
    @apply transition ease-in-out duration-300 transform;
}
.menu-off-canvas-enter-active {
    @apply -translate-x-full;
}
.menu-off-canvas-enter-to {
    @apply translate-x-0;
}
.menu-off-canvas-leave {
    @apply transition ease-in-out duration-300 transform;
}
.menu-off-canvas-leave-active {
    @apply translate-x-0;
}
.menu-off-canvas-leave-to {
    @apply -translate-x-full;
}
/* Menu Close Btn */
.menu-close-btn-enter {
    @apply ease-in-out duration-300;
}
.menu-close-btn-enter-active {
    @apply opacity-0;
}
.menu-close-btn-enter-to {
    @apply opacity-100;
}
.menu-close-btn-leave {
    @apply ease-in-out duration-300;
}
.menu-close-btn-leave-active {
    @apply opacity-100;
}
.menu-close-btn-leave-to {
    @apply opacity-0;
}

/* Dropdown menu */
.dropdown-enter {
    @apply transition ease-out duration-100;
}
.dropdown-enter-active {
    @apply transform opacity-0 scale-95;
}
.dropdown-enter-to {
    @apply transform opacity-100 scale-100;
}
.dropdown-leave {
    @apply transition ease-in duration-75;
}
.dropdown-leave-active {
    @apply transform opacity-100 scale-100;
}
.dropdown-leave-to {
    @apply transform opacity-0 scale-95;
}

/* Vue-Datetime */
.vdatetime-input {
    @apply block rounded-md shadow-sm w-full bg-white outline-none border border-cyan-200;
}
.vdatetime-popup__header {
    background: #0E7490 !important;
}

/* Vue-Multiselect */
